<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Ticket Service</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${not #lists.isEmpty(seatHoldDetails)}">
                <h2>Seat Hold Detail List</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Level Id</th>
                        <th>Seat Number</th>
                        <th>View</th>
                    </tr>
                    <tr th:each="seatHoldDetail : ${seatHoldDetails}">
                        <td th:text="${seatHoldDetail.id}">id</td>
                        <td th:text="${seatHoldDetail.level.levelId}">levelId</td>
                        <td th:text="${seatHoldDetail.seatNumber}">seatNumber</td>
                        <td><a th:href="${'/seatholddetail/' + seatHoldDetail.id}">View</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
